* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'Roboto Slab', serif;
}
.block1 {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.list {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-right: 200px;
    margin-top: 16px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    margin-left: 200px;
    margin-top: 16px;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.small-text, 
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;

}

.block1-container {
    display: flex;
    flex-direction: row;
}

.container-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 720px;
}
.container-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 200px;
    margin-bottom: 50px;
}

.img-block1 {
    display: flex;
    width: 400px;
    height: 200px;
}

.first-button {
    display: flex;
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.boxes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-bottom: 100px;
}

.box-text {
    display: flex;
    flex-direction: column;

}

.box{
    border: 3px solid rgb(41, 143, 225);
    display: flex;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.text-under-box {
    color: rgb(90, 90, 90);
    font-size: 15px;
}

.block3 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
}

.thor {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    margin-left: 550px;
}

.block4 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.rectangle {
    background-color: rgb(41, 143, 225);
    display: flex;
    margin: 70px;
    border-radius: 8px;
}

.container-left2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px 70px;
}

.container-right2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 70px;
}

.action {
    color: white;
    font-size: 18px;
}
.action2 {
    color: white;
    font-size: 14px;
}

.button2 {
    display: flex;
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.block5 {
    background-color: #1f2937;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.footer-text {
    color: white;
    font-size: 12px;
}







